.container {
    max-width: 1440px;
    max-width: 100%;
}

header {
    padding: 47px 75px;
    height: 300px;
    background-color: #13345B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 30%;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.head_link{
    font-size: 36px;
    font-weight: bold;
    color: #FDD504;
    transition: all;
    transform: 0.5s;

}

.head_link:hover, .cart:hover  {
    color: cadetblue;
}

.cart {
    font-size: 36px;
    color: #FDD504;
    transition: all;
    transform: 0.5s;
}


footer {
    height: 200px;
    background-color: #13345B;
       
}

.social {
    width: 30%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    
}

.social_ico {
    font-size: 80px;
    color: #FDD504;
    transition: all;
    transition: .5s;
}

.social_ico:hover {
    font-size: 90px;
    color: blanchedalmond;
}

